body {
    display:flex;
    flex-direction: column;
    margin:0;
    padding:0;
}

.section-one {
    background-color:#1f2937;
    height: 100vh;
    max-height: 600px;
    gap:20%;

    display:flex;
    flex-direction: column;
    overflow: auto;
}

.header {
    margin-left: 15%;
    margin-right:15%;
    max-width: 90%;

    display: flex;
    justify-content: space-between;
    align-items: baseline;

}

.header h1 {
    font-size: 24px;
    color:#f9faf8;
}

.menu-bar ul {
    list-style-type: none;
    display: flex;
    gap: 40px;
}

.menu-bar a {
    text-decoration: none;
    font-size: 18px;
    color:#e5e7eb;
}


.content-one {
    margin-left: 15%;
    margin-right:15%;
    height: 300px;
    max-height: 60%;
    display:flex;
    justify-content:center;
}

.content-one h2 {
    margin-top: 0px;
    font-size: 48px;
    font-weight: 800;
    color:#f9faf8;
    max-width: 60%;
}

.content-one p {
    max-width: 70%;
    font-size: 18px;
    color:#e5e7eb;
    margin-top: -5%;
}


.content-one button {
    background-color:#3882f6;
    color:white;
    text-align: center;
    border:0;
    border-radius: 5px;

    padding-left:20px;
    padding-right: 20px;
    padding-top:8px;
    padding-bottom: 8px;

    align-self: flex-start;
}


.content-one .header-img {
    width: 70vh;
    height: 30vh;
}




.section-two {
    height: 100vh;
    max-height: 550px;

    display: flex;
    flex-direction: column;

}

.section-two h3 {
    margin-top: 3%;
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color:#1f2937;

    
}

.section-two .content-two {
}

.content-two {
    display: flex;
    height: 300px;

}

.element {
    width: 250px;
    height: 250px;
    border:8px solid #3882f6;
    border-radius: 20px;
}

.one .pic {
    width: 250px;
    height: 250px;
}